.comment {
  background-color: #313131;
  padding: 24px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.replies {
  margin-left: 48px;
}

.commentTop {
  display: flex;
  gap: 8px;
}

.replyBtn {
  margin-left: auto;
}